* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(240, 240, 240, 1);
}

main {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0.9rem 0;
}

/* Part with the widgets  */
main .row-part {
  border: 1px solid greenyellow;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

main .row-part section {
  border: 1px solid salmon;
  width: 300px;
  background-color: rgba(128, 128, 128, 0.9);
  min-height: 30rem;
}

/* All sections  */
section {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 1;
  border-radius: 2rem;
  margin: 1rem 0;
  padding: 1rem;
}

/* Clock  */
main .clock-section {
  background-color: rgba(128, 128, 128, 0.9);
  padding: 1rem;
  text-align: center;
}

main .clock-section div {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Name  */
main .name-section {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

main .name-section > * {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3rem;
  border: none;
  padding: 0;
  border-radius: 2rem;
  background: transparent;
  color: rgba(240, 240, 240, 0.9);
  flex: 1;
}

/* Links  */
.link-container {
  border: 1px solid green;
  width: 100%;
  max-width: 200px;
  display: flex;
  align-content: space-between;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  color: gray;
  border-radius: 1rem;
  padding: 0 0.7rem;
}

#links-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

main .links-section .link-element {
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: gray;
  letter-spacing: 0.2rem;
}

.remove-icon {
  cursor: pointer;
}

.remove-icon:hover {
  color: red;
}

#add-link-btn,
dialog button {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  border: none;
  background-color: rgb(26, 26, 26);
  color: rgba(240, 240, 240, 0.9);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#add-link-btn:hover,
dialog button:hover {
  background-color: transparent;
  border: 1px solid rgb(26, 26, 26);
  color:  rgb(26, 26, 26);
}

dialog {
  border: none;
  margin: 30vh auto;
  height: 20vh;
  max-width: 800px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 2rem;
  padding: 1rem;
  overflow: hidden;
}

dialog input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  margin: 0.2rem auto;
  border-radius: 1rem;
}

/* Weather  */
main .weather-section .weather-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .weather-section .weather-card .weather{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

main .weather-section .weather-card .weather p {
  font-size: 2rem;
}

main .weather-section .weather-card .details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.search {
  width: 110%;
  display: flex;
  justify-content: space-between; 
}

.search input {
  max-width: 80%;
  border: 0;
  outline: 0;
  background:rgba(240, 240, 240, 0.9);
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
  flex: 1;
}

.search button {
  border: 0;
  outline: 0;
  background: rgba(240, 240, 240, 0.9);
  border-radius: 50%;
  : 2rem;
  height: 100%;
  cursor: pointer;
  flex: 1;

}

.search button img {
  width: 1rem;
}

/* Pokemon Catcher  */
.poke-section {
  background-color: blueviolet;
}

#poke-card {
  background-color: brown;
}